@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto:400,700&display=swap&subset=latin-ext');
$main-color: #e0f1ff;
$default-font: 'arial', 'sans-serif';
$special-font: 'pt sans', 'roboto', 'arial', 'sans-serif';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  background-color: #ddd;
  font-family: $default-font;
  color: #fff;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 4px 0 #000;
}
.logo {
  flex-basis: 200px;
  &__image {
    display: block;
    width: 100%;
  }
}
.search {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  &__input {
    flex-basis: 60%;
    height: 50%;
    margin-right: 2vh;
    padding: 0 10px;
    font-size: 1.4rem;
    &:focus {
      box-shadow: 0 0 2px 1px $main-color;
      font-weight: bold;
    }
  }
  &__button {
    height: 50%;
    padding: 0 10px;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #000;
    background-color: #fff;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
.setings {
  display: flex;
  padding: 0 30px 0 50px;
  align-items: center;
  &__icon-link {
    margin: 0 5px;
    font-size: 3rem;
    color: #666;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      color: #000;
    }
  }
}
.menu {
  flex-basis: 100%;
  height: 70px;
  margin-top: 10px;
  padding: 15px 50px 15px 80px;
  font-family: $special-font;
  background-color: darkcyan;
  &__list {
    display: flex;
    list-style: none;
  }
  &__item {
    margin: 0 20px;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 4rem;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      border-bottom: 2px solid #fff;
      color: #fff;
    }
    &:nth-last-child(1) {
      margin-left: auto;
      border: 2px solid #fff;
      &:hover {
        border-color: #fff;
      }
      .menu__link {
        padding: 0 22px;
      }
    }
  }
  &__link {
    display: block;
    color: #ddd;
    text-decoration: none;
  }
}
.article {
  padding: 30px 50px;
  color: #333;
  text-align: center;
  &--small {
    padding: 20px 30px;
  }
  &__image {
    display: block;
    width: 100%;
  }
  &__title {
    font-family: $special-font;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 35px 0 15px;
    .article--small & {
      padding: 25px 2px 10px 2px;
      font-size: 1.8rem;
      background-color: darkcyan;
      color: #fff;
    }
  }
  &__description {
    font-size: 1.6rem;
    line-height: 1.6;
  }
  &__button {
    display: inline-block;
    font-size: 1.8rem;
    border: 2px solid #000;
    padding: 8px 12px;
    margin: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
.main-articles {
  flex-basis: 100%;
  background-color: $main-color;

  display: flex;
  flex-wrap: wrap;
  &__slogan {
    flex-basis: 100%;
    margin: 60px 0 30px 0;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 4.5rem;
    letter-spacing: 2px;
  }
  &__article {
    flex-basis: 50%;
  }
}

.article-list {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &__article {
    flex-basis: 30%;
    flex-grow: 1;
  }
}
.footer {
  flex-basis: 100%;
  background-color: blue;
}
